@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}
.h-90vh {
  height: 90vh;
}
.h-10vh {
  height: 10vh;
}
